.main-text{
    color: #4A4A4A;
    font-family: Quicksand;
    font-size: 54.4px;
    font-style: normal;
    font-weight: 700;
    line-height: 54.4px; /* 100% */
    letter-spacing: -1.36px;
}

.sub-main-text{
    color: #737373;
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.25px; /* 162.5% */
}
.botao-cadastro{
    font-size: 15px;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #2FCED1;
    border: 1px solid #2FCED1;
    color: #FFF;
    transition-property: background-color, color, border;
    transition-duration: 0.1s,0.1s,0.1s ;
}

.botao-cadastro:hover{
    color: black ;
    background-color: #FFF;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    cursor: pointer;

}
.botao-entrada{
    margin-left: 12px;
    color: #297EFF;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    padding: 15px 30px;
    background-color: #FFF;
    border: none;
    border-radius: 40px;
    transition-property: background-color, color;
    transition-duration: 0.2s, 0.2s;
}

.botao-entrada:hover{
    color: #FFF;
    background-color: #297EFF;
    cursor: pointer;
}

.home{
    display: flex;
    justify-content: space-between;
}
.home-text{
    margin-left: 225px;
}

.main-text{
    width: 500px;
}
.sub-main-text{
    width: 380px;
}
.botoes-home{
    display: flex;
   
}
.home-image{
  margin-right: 225px;
}
.main-image{
    width: 719px;
height: 478px;
}

.home{
    display: flex;
    width: 1920px;
    align-items: flex-start;
}

